<footer class="footer">
  <div class="footer-container">
    <section class="footer-title">
      <h4 class="footer-text">Sobre a Eletronics-App</h4>
      <p class="footer-about-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo iusto
        similique delectus expedita architecto nihil! Id nulla molestias
        blanditiis! Alias voluptate eligendi eaque nostrum, quidem velit
        necessitatibus esse. Nisi, rerum!
      </p>
    </section>
    <address class="contatos border-top-0">
      <h2 class="footer-contato">Contato</h2>

      <ul>
        <li>
          <i class="fa-brands fa-whatsapp"></i>
          (11) 9 979-71741
        </li>
        <hr />
        <li>
          <i class="fa-regular fa-envelope"></i>
          E-mail: evandro.lds.ds@outlook.com
        </li>
        <hr />
      </ul>
    </address>
  </div>
  <section class="footer-copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
