<section class="lista-produtos">
  <div class="lista-produtos-cards" *ngFor="let produto of produtos">
    <!-- Linkando os produtos pelo seu ID utilizando RouterLink-->
    <a routerLink="/produtos/{{ produto.id }}" class="link-lista-produtos">
      <div class="imagem-produtos">
        <img [src]="produto.imagem" class="img-produtos" alt="Card image cap" />
      </div>
      <h3 class="nome-produtos">{{ produto.nome }}</h3>
      <p class="produto-descricao">{{ produto.descricao }}</p>
      <hr />
      <div class="preco-descricao-btn">
        <h4 class="preco-descricao">
          {{ produto.formaDePagamento }}
        </h4>
        <h2 class="preco-produto">{{ produto.preco | currency : "BRL" }}</h2>

        <button class="btn btn-primary" type="button">Comprar</button>
      </div>
    </a>
  </div>
</section>
